.shopMenu {
    background: rgb(232, 225, 225);
    display: none;
    position: absolute;
    top: 35px;
    z-index: 2;
    animation: menuShop 0.4s ease;
    @keyframes menuShop {
        0% {
            top: 50px
        }

        100% {
            top: 35px
        }
    }
}