.DropdownProduct {
    background: white;
    width: 150px;
    list-style: none;
    display: none;
    position: absolute;
    left: 340px;

    p {
        border-top: 1px whitesmoke;
        text-align: center;

        &:hover {
            background: wheat;
        }

        .bts {
            display: none;
            background: white;
            width: 150px;
            position: absolute;
            top: 200px;
            left: 150px;
        }
        &:nth-child(6){
            &:hover{
                .bts{
                    display: block;
                    background: rgb(238, 217, 217);
                    animation: dropdownTop 0.2s linear;
                    @keyframes dropdownTop {
                        0%{
                            top:230px
                        }
                        100%{
                            top:195px
                        }
                    }
                }
            }
        }
    }
}